.carta {
    background-image: url('https://cdn-cashy-static-assets.lucidchart.com/marketing/blog/2020Q3/sales/how-to-improve-buyer-experience-part-1.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.texto1 {
    font-weight: 500;
    font-family: inherit;
    color: black;
    text-align: center;
    font-size: 64px;
}